.todoTaskCheckbox
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.todoTaskRow
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.todoTaskControls
{
    flex: 1;
}

.backgroundTaskItem {
    background-color: #cdcdcd;
}

.doneCheckBox {
    margin: -14px 0 0 13px
}
